/* 共通 */
body{
    background-color: #eee;
}

h1{
    margin:0;
    font-size: 1em;
}

h1:nth-child(n + 2) {
    margin-top: 3em;
}
  

li{
    margin-bottom: 1em;
}

footer{
    margin-top: 2em;
}







/* トップ */

.top{
    margin-bottom: 200px;
}








/* 一括タグ付け */

.img_zone{
    display: flex;
} 

.img_zone div{
    width: calc(33% - 10px);
    padding: 10px;
} 

.img_zone img{
    width: 100%;
    height: 200px;
    object-fit: cover; 
    display: block;
}

.img_zone textarea{
    margin-top: 10px; 
    height: 3em; 
    width: 100%;
}

.select_tag{
    background-color: #8f8;
}

.select_image{
    opacity: 0.5;
    border: #f8f 10px solid;
    box-sizing: border-box;
}

#add,
#delete{
    width:200px;
    display: block;
    margin-top: 1em;
}





/* スワイプ */

.image_touch{
    width: 90%;
    border: #000 1px solid;
    margin: 100px auto;
}




/* bootstrap実験用 */

.bnb-container-all{
    display: flex;
    border: #f8f 5px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px; 
}

.bnb-container{
    border: #8f8 5px solid;
    border-radius: 10px;
    width: 33%;
    padding: 10px;
    margin: 20px; 
}


/* svg実験 */
.h1_svg{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32px 24px"><path fill="%23000" d="M31.42,3.31,28.62.57A2,2,0,0,0,27.21,0a1.91,1.91,0,0,0-1.4.57L12.26,13.83,6.2,7.88a2,2,0,0,0-1.41-.57,1.91,1.91,0,0,0-1.4.57L.58,10.63a1.91,1.91,0,0,0,0,2.74L10.86,23.43a2,2,0,0,0,2.81,0L31.42,6.06A1.85,1.85,0,0,0,32,4.69a1.85,1.85,0,0,0-.58-1.38Z" /></svg>');
}

.h1_svg2:before{
    content: url('data:image/svg+xml;utf8,<svg width="30" height="30" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><path id="path557" fill="%23{$color}" d="M 13.6679 0.013952637 L 0.41341146 13.120129 L 13.871505 26.496574 L 26.514661 26.496574 L 26.514661 0.013952637 L 13.6679 0.013952637 z M 9.5332682 10.042281 A 2.5445325 2.5445325 0 0 1 12.077816 12.586829 A 2.5445325 2.5445325 0 0 1 9.5332682 15.131376 A 2.5445325 2.5445325 0 0 1 6.9892375 12.586829 A 2.5445325 2.5445325 0 0 1 9.5332682 10.042281 z " /></svg> ');
}

.h1_svg2{
    margin:10px;
    background-color: #f0f;
}

.h1_svg3{
    position: relative;
    padding-left: 40px;
    background-image:
        radial-gradient(circle, white 6px, transparent 0px),
        linear-gradient(135deg, transparent 16px, #f0f 1px),
        linear-gradient(45deg, transparent 16px, #f0f 1px);
    background-repeat: no-repeat;
    background-size: 40px, 100% 50%, 100% 50%;
    background-position: left, top, bottom;
    font-size: 30px;
    overflow: hidden;
    border-radius: 10px;
    color: #fff;
}

.h1_svg4{
    position: relative;
    padding-left: 25px;
    background-image:
        radial-gradient(circle, white 4px, transparent 0px),
        linear-gradient(135deg, transparent 10px, #0ff 1px),
        linear-gradient(45deg, transparent 10px, #0ff 1px);
    background-repeat: no-repeat;
    background-size: 30px, 100% 50%, 100% 50%;
    background-position: left, top, bottom;
    font-size: 20px;
    overflow: hidden;
    border-radius: 10px;
    color: #000;
}

.svg_container{
    margin-top: 500px;
}
